/*
    Desarrollador: Luis Sánchez
    Sanchezluys@gmail.com
    Version 1.0 Feb 2024
    Proyecto: encriptador
    archivo: style.css
*/

/* el fondo es el mismo para todas las vistas */
html{
    background-color: #D8DFE8; /* color de fondo del diseño figma */
    font-family: 'Inter';

}
.main{
    text-align: center;
}
#textoAencriptar{
    background-color: transparent;
    border: none;
    font-family: 'Inter', sans-serif;      /* Fallback a sans-serif si Inter no está disponible */
    font-size: 32px;                       /* Tamaño de letra 32px */
    color: #0A3871
}
#textoAencriptar::placeholder{
    color: #0A3871;
}
#titulo{
    text-align: center; /* Centra el texto */
    color: #0A3871;      /* Color azul del diseño figma */
    font-size: 2em;     /* Tamaño de letra h1 */
}

#advertencia{
          /* Centra el texto */
    font-size: 12px;
    color: #495057;     /* color y tamaño del figma */

}

.btnEncriptar:hover, .btnDesencriptar:hover, .btnCopiar{
    cursor: pointer; /* Cambia el cursor a una mano cuando se pase por encima */
}

.btnEncriptar{
    color: white;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    background-color: #0A3871;
    height: 67px;     /* Alto de 67px */
    width: 328px;     /* Largo de 328px */
    border-radius: 24px;        /* Radio de esquina de 24px */
    margin-right: 24px;         /* separacion entre botones de 24px */
    border: 2px solid black;   /* Borde de 1px sólido y color negro */
   
}

.btnEncriptar:active{
    transform: translateY(2px);      /* Mueve el botón hacia abajo 1px al presionarlo */
}

.btnDesencriptar, .btnCopiar {
    color:#0A3871;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    background-color: #D8DFE8;
    height: 67px;                /* Alto de 67px */
    width: 328px;                /* Largo de 328px */
    border-radius: 24px;         /* Radio de esquina de 24px */
    border: 2px solid black;  /* Borde de 1px sólido y color negro */
    
}

#muneco{
    width: 336px;   /* Ancho de la imagen */
    height: 304px;  /* Alto de la imagen */
}
.btnCopiar{
    width: 336px;
}

.btnDesencriptar:active, .btnCopiar:active  {
    transform: translateY(2px);
    /* Mueve el botón hacia abajo 1px al presionarlo */
}
#rodapie {
    text-align: center;
    color: #0A3871;
}


/* es necesrio definir 3 tipos de estilos para cada tipo de pantalla
/* CASO 1: PANTALLAS GRANDES

/* CASO 2: TABLETS

/* CASO 3: CELULAR